/* 
GLOBAL STYLES: 
*/
* {
  font-family: Noto Sans, sans-serif;
  color: #6a6a6a;
}

/* NAVBAR STYLES*/
nav {
  font-family: "Jost", sans-serif;
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
}

/*navbar toggler*/
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-light .navbar-toggler {
  border-color: transparent !important;
  border: none !important;
}

/*nav links*/
.nav-link {
  color: #000000 !important;
}

/*HERO SECTION*/

#hero {
  margin-top: 4rem;
}

.bg-hero {
  background-color: rgba(140, 188, 200, 0.33);
}

.hero-header {
  font-size: 2rem;
  font-weight: 700;
  color: #444444;
}

@media (min-width: 576px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  .hero-header {
    margin-top: 12rem;
    font-weight: 700;
    font-size: 64px;
    line-height: 87px;
    color: #444444;
  }
}

.hero-solid-btn {
  background: #444444;
  box-shadow: 3px 3px 0px rgba(68, 68, 68, 0.25);
  border-radius: 6px;
  color: #ffffff;
}

.hero-solid-btn:hover {
  color: #ffffff;
}

.hero-outline-btn {
  border: 4px solid #444444;
  box-sizing: border-box;
  box-shadow: 3px 3px 0px rgba(68, 68, 68, 0.25);
  border-radius: 6px;
}
@media (max-width: 576px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  .mobile-hide {
    display: none;
  }
}

/* SERVICES SECTION */
.services-header {
  color: #444444;
}

.services-subheader {
  color: #444444;
}

.services-card {
  background-color: rgba(255, 110, 97, 0.22);
  border: none;
}

.services-card-comment {
  font-size: 1.5rem;
}

/* ABOUT SECTION */
#about {
  background-color: rgba(245, 167, 105, 0.11);
}
.about-header {
  font-size: 48px;
  line-height: 65px;
  text-align: center;

  color: #444444;
}

.about-subheader {
  color: #444444;
}

/* GALLERY SECTION */
.gallery-figure {
  margin-bottom: 0rem;
}

/* CTA SECTION  */
#cta {
  background-color: rgba(139, 189, 200, 0.33);
  border-radius: 0px;
}

.cta-header {
  font-size: 3rem;
  line-height: 65px;
  font-weight: 700;
  text-align: center;

  color: #444444;
}

.cta-button {
  font-size: 20px;
  line-height: 29px;
  background: #ffffff;
  box-shadow: 5px 5px 0px rgba(255, 255, 255, 0.25);
  border-radius: 6px;

  color: #444444;
}

/* PRICING */
.pricing-header {
  font-size: 3rem;
  line-height: 65px;
  font-weight: 700;
  text-align: center;

  color: #444444;
}

.pricing-card {
  background: rgba(68, 68, 68, 0.1);
  border-radius: 0px;
}

@media (min-width: 576px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  .pricing-card {
    height: 20rem;
  }
}

.pricing-solid-btn {
  background: #444444;
  box-shadow: 3px 3px 0px rgba(68, 68, 68, 0.25);
  width: 100%;
  border-radius: 6px;
  color: #ffffff;
}

.pricing-solid-btn:hover {
  color: #ffffff;
}

.pricing-card-text {
  color: #000000;
}

.pricing-amount {
  font-weight: 700;
  font-size: 48px;
  line-height: 65px;
  font-family: "Noto Sans";
  color: #000000;
}

.pricing-banner {
  background-color: #bd9393;
  color: #ffffff;
}

/* FORM SECTION */

#form {
  background-color: #444444;
}

.form-header {
  color: #ffffff;
}

.form-text {
  color: #ffffff;
  font-size: 1.25rem;
}

.form-submit-btn {
  background: #ffffff;
  box-shadow: 5px 5px 0px rgba(255, 255, 255, 0.25);
  border-radius: 6px;

  font-weight: 700;
  font-size: 1.25rem;
  line-height: 29px;

  color: #444444;
}

.form-bg {
  background: #3c3c3c;
  border: #3c3c3c;
  border-radius: 6px;
  color: #ffffff;
}

.form-bg:focus {
  background: #3c3c3c;
  border: #3c3c3c;
  border-radius: 6px;
  color: #ffffff;
}
/* - services-blurbs: background: #FF6E61; (22%) */
/* - bg-about: background: #F5A769; (11%) */
/* - bg-cta: background: #8BBDC8; (33%) */
/* - pricing-banner: background: #BD9393; */

/*
Button Style Types:
- Dark
- Outline
- Form Submit Button
*/

/*
Text Style Types:
- text-color: color: #6A6A6A;
*/

/* - header-color: color: #444444; */
