/* 
GLOBAL STYLES: 
- font-family: Noto Sans,  */

/* NAVBAR STYLES*/
nav {
  font-family: "Jost", sans-serif;
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
}

/*navbar toggler*/
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-light .navbar-toggler {
  border-color: transparent !important;
  border: none !important;
}

/*nav ul*/

/*nav links*/
.nav-link {
  color: #000000 !important;
}

/*MOBILE DROPDOWN*/
/*hero section*/
#hero {
  margin-top: 4rem;
}

/* CUSTOM COLOR PALLETTES:*/

/* - background hero:  */
.bg-hero {
  background: #8cbcc8;
  opacity: 33%;
}
/* - services-blurbs: background: #FF6E61; (22%) */
/* - bg-about: background: #F5A769; (11%) */
/* - bg-cta: background: #8BBDC8; (33%) */
/* - pricing-banner: background: #BD9393; */

/*
Button Style Types:
- Dark
- Outline
- Form Submit Button
*/

/*
Text Style Types:
- header-color: color: #444444;
- text-color: color: #6A6A6A;
 */
